body{
    background-color: aliceblue;
    }
.container{
    background-image: url(../ip-images/Backgrouds/h_img.jpeg);
    background-size:cover;
    height: 100vh;
    text-align: center;
    color: white;
    }
.text1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
.container2{
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
.aboutus{
    text-align: center;
    color: black;
    font-size:x-small;
    }
.services{
    background-image: url(../ip-images/Backgrouds/s_image.jpeg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-size:x-small;
    color:white;
    }
.whatWeDo{
    text-align: center;
    }
.hide{
  display:none;
    }
.Hover {
  opacity:0;
  background-color: rgba(172, 236, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  right:25%; 
    }
.custom-info-on-portfolio-images {
  height: 280px;
  max-width: 280px;
  padding:2px;
}
.row{
  padding:2%;
}
