body{
    background-color: aliceblue;
    }
.container{
    background-image: url(../ip-images/Backgrouds/h_img.jpeg);
    background-size:cover;
    height: 500px;
    width: 100%;
    text-align: center;
    color: white;
    }
.aboutus{
    text-align: center;
    color: black;
    }
.services{
    background-image: url(../ip-images/Backgrouds/s_image.jpeg);
    text-align: center;
    background-size: cover;
    height: 300px;
    color: white;
}